body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Circular Std', sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  padding: 12px 16px;
}
.navitems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  margin: auto;
}
.logomini {
  height: 32px;
  width: 32px;
}
.menubtn, .closebtn {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 24px;
  height: 24px;
}

.logofull, .navlinks, .btngrp, .closebtn{
  display: none;
}

/* Dropdown styling */
.dropdownNav {
  display: flex;
  flex-direction: column;
  padding: 40px 16px ;
  justify-content: space-between;
  row-gap: 48px;
  position: fixed;
  width: 100vw;
  background-color: #FFFFFF;
}
.authBtns {
  display: flex;
  flex-direction: column;
  width: 90% ;
}
.btn {
    text-decoration: none;
    cursor: pointer;
    display: block;
    border: none;
    height: auto;
    padding: 10px 12px;
    border-radius: 4px;
    width: 100%;
}
.logInOut {
    background-color: #0052CC;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.signup {
  background-color: #F4F5F7;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #A5ADBA;
  margin-top: 16px;
}
.dropdown-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}


.HeroBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:  38px 0px 0px;
  position: static;
  height: calc(100vh - 56px);
}
.HeroItems {
  width: 343px;
  margin-left: 16px;
  margin-right: 16px;
}
.HeroHeader {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
  width: 80%;
  top: 0px;
  color: #091E42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 12px 0px;
}
.HeroText {
  width: 65%;
  height: 61px;
  left: 0px;
  top: 138px;
  text-align: left;
  font-weight: 450;
  font-size: 14px;
  line-height: 143%;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px 0px;
}

.HeroImg {
  height: auto;
  width: 100%;
  top: 322px;
  border-radius: 0px;
  position: static;
}

.InfoCard {
  background-color: #FFFFFF;
  box-shadow: 0px 18px 31px rgba(9, 30, 66, 0.06);
  border-radius: 16px;
  margin-bottom: 16px;
  width: auto;
  padding: 32px;
}
#ClearInfoCard {
  background: none;
  border-radius: 0px;
  box-shadow: none;
}
.InfoItems {
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.InfoImg {
  width: 48px;
  height: 48px;
}
.infowords {
  padding: 0;
  margin: 0;
}

.InfoHeader {
  width: auto;
  height: 24px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #091E42;
}
.InfoText {
  margin-top: 18px;
  width: auto;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 20px;
  color: #5E6C84;
}

.SectionTexts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: auto;
}
.SectionHeader {
  margin: 0;
  width: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #091E42;
}
.SectionDesc {
  margin: 0;
  width: auto;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #5E6C84;
}
.SectImg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.Section1, .Section2, .Section3 {
  padding: 80px 16px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.Section1 {
  background: #F4F5F7;
}
.BrandBox {
  padding: 50px 0;
  display: flex;
  width: auto;
}
.brandgrp1, .brandgrp2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 48px;
  margin: 0 auto;
}
.BrandLogos {
  width: auto;
  display: flex;
  flex-flow:row wrap;
  align-content: space-between;
  row-gap: 24px;
}
.Footer {
  height: auto;
  background: #091E42;
  display: flex;
  padding: 15% 9%;
}

.FooterInner {
  margin: auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  row-gap: 48px;
}
.FooterHeader {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.FooterHeader > h4 {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 145%;
  margin: 8px 0 0 0;
}
.FooterBody {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  row-gap: 48px;
  width: auto;
  margin: 0 auto;
}
.SocialLinks {
  display: flex;
  flex-direction: row;
  width: auto;
  column-gap: 24px;
  margin: 0 auto;
}
.social-icon {
  height: 24px;
  width: 24px;
}
.FooterBody > h4 {
  color: #FAFBFC;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 133%;
  margin: 0 auto;
  overflow-wrap: break-word;
  width: 185px;
}

@media screen and (min-width: 576px) and (min-height: 0px) {
  .navbar {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    padding: 14px 0px;
  }
  .navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: auto 9%;
  }
  .logomini, .dropdownNav {
    display: none;
  }
  .leftnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 32px;
  }
  .logofull {
    display: inline-flex;
    width: 144px;
    height: 24px;
    margin: auto;
  }  
  .navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 32px;
  }
  .navlinks > li {
    margin: auto;
  }
  .menubtn, .closebtn {
    display: none !important;
  }
  .btngrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4px;
    margin: auto;
  }
  .btn {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    height: auto;
    padding: 10px 12px;
    border-radius: 4px;
    width: auto !important;
  }
  .signup {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A5ADBA;
    margin: 0 auto;
  }
  .signin {
    background-color: #0052CC;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
  }
  .HeroBox {
    display: flex;
    flex-direction: row;
    padding: 0 9%;
    height: calc(100vh - 52px);
  }
  .HeroItems {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .HeroImg {
    width: 60%;
    position: static;
    height: inherit;
  }
  .HeroHeader {
    width: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
  }
  .HeroText {
    width: auto;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
  }
  .Section1, .Section2, .Section3 {
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 120px;
  }
  /* .sectcards {
    display: flex;
    flex-direction: row;
    column-gap: 1.5%;
  } */
  .SectionHeader {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }
  .SectionDesc {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
  }
  .sectcards {
    display: flex;
    flex-direction: row;
    column-gap: 1.6%;
    width: 81vw;
  }
  .InfoCard {
    background-color: #FFFFFF;
    box-shadow: 0px 18px 31px rgba(38, 42, 49, 0.06);
    border-radius: 16px;
    margin-bottom: 16px;
    width: 33.3%;
    padding: 32px;
  }
  .SectImg {
    width: 78%;
  }
  .sectionDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  
  .SectionTexts {
    width: 45%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .clearsectcards {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2.5%;
  }
  #ClearInfoCard {
    width: auto;
  }
  .BrandBox {
    width: 82%;
    margin: 0 auto;
    display: flex;
  }
  .BrandLogos {
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    width: 100%;
    height: 70px;
  }  
  .brandgrp1, .brandgrp2 {
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    width: auto;
  }
  
  .Footer {
    padding: 0;
    margin: 0;
  }
  .FooterInner {
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% auto;
  }
  .FooterHeader {
    margin: 0;
    text-align: start;
    height: fit-content;
  }
  
  .FooterHeader h4 {
    margin: 0;
  }

  .FooterBody {
    margin: 0;
    width: auto;
    height: auto;
    row-gap: 0;
    display: inline-block;
  }
  .FooterBody > h4 {
    width: auto;
    margin: 0;
    font-size: 14px;
  }
  .SocialLinks {
    justify-content: right;
    margin: 0 0 10px 50%;
  }
}